﻿
@import url("fontAwesome_icon_font.css");
@import url("line_icon_font.css");
@import url("./plugins/owl.carousel.css");
@import url("./plugins/jquery.fs.tipper.css");
@import url("./plugins/magnific-popup.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
/*
* BASIC
  - General Style    
  - Typography Style    
  - Button Style
  - Form Style    
  - Spacer Style

* HEADER
  - Header Style
  - Logo Style
  - Navigation Menu Style

* INTRO
  - intro
  - Slider

* GLOBEL
  - Content Box (Services Box, Featured Box, icon-box, etc...)
  - Cover Box
  - Slider
  - Portfolio (Isotop Grid, box, etc...)

* ELEMENTS
  - Team Box
  - Skills Bar
  - Process
  - Accordion & Toggle
  - Tabs
  - Action-box
  - Counter
  - Pricing-box
  - Client Logo
  - Contact Form, Map, contact-info
  - Preloader
 
* Footer
  - Footer Logo
  - Copyright
  - Social


/*-------------------------------------------------------------------------------------------*/
/* BASIC     ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* General Style   ||-------------------*/
body {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    /*line-height: 1.42857;*/
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

#page-wraper .wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page-padding {
    padding: 0px;
}

    .page-padding #page-wraper .wrapper {
        padding: 30px;
    }

.page-border {
    position: fixed;
    background: #fff;
    display: none;
    z-index: 99;
}

.page-padding .page-border {
    display: block;
}

.page-border.left {
    width: 30px;
    left: 0;
    top: 0;
    height: 100%;
}

.page-border.right {
    width: 30px;
    right: 0;
    top: 0;
    height: 100%;
}

.page-border.top {
    width: 100%;
    left: 0;
    top: 0;
    height: 30px;
}

.page-border.bottom {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
}

@media (max-width: 480px) {
    .page-padding #page-wraper .wrapper {
        padding: 15px;
    }

    .page-border.right, .page-border.left {
        width: 15px;
    }

    .page-border.top, .page-border.bottom {
        height: 15px;
    }
}


.black-bg {
    background-color: #333;
}

.Brown-bg {
    background-color: #5a2800;
}

.gray-bg {
    background-color: #f6f6f6;
}

.white-bg {
    background-color: #FFF;
}

.bg-cover-section, .small-bg-cover-section {
    background-size: cover;
    background-position: top center;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg h5, .dark-bg h6,
.dark-bg p, .dark-bg p.small, .dark-bg p.large, .dark-bg p.lead,
.dark-bg .page-icon, .dark-bg .page-icon-sm,
.dark-bg ul, .dark-bg ol, .dark-bg li,
.dark-bg .alt-icon-top, .dark-bg .alt-icon-left, .dark-bg .alt-icon-right {
    color: #fff;
}

.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.overlay-dark, .overlay-dark20, .overlay-dark60, .overlay-dark80, .overlay-dark90, .overlay-light, .overlay-light80 {
    position: relative;
    z-index: 1;
}

    .overlay-dark:before, .overlay-dark20:before, .overlay-dark60:before, .overlay-dark80:before, .overlay-dark90:before, .overlay-light:before, .overlay-light80:before {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
    }

    .overlay-dark:before {
        background-color: rgba(34,34,34,0.85);
    }

    .overlay-dark20:before {
        background-color: rgba(34,34,34,0.2);
    }

    .overlay-dark60:before {
        background-color: rgba(34,34,34,0.6);
    }

    .overlay-dark80:before {
        background-color: rgba(34,34,34,0.8);
    }

    .overlay-dark90:before {
        background-color: rgba(34,34,34,0.9);
    }


    .overlay-light:before {
        background-color: rgba(255,255,255,0.4);
    }

    .overlay-light80:before {
        background-color: rgba(255,255,255,0.8);
    }

.page-icon {
    color: #333;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 15px;
    width: 100%;
}

.page-icon-sm {
    color: #333;
    font-size: 25px;
    margin-bottom: 15px;
}

a {
    color: #666666;
    cursor: pointer;
    text-decoration: none;
}

    a:hover {
        color: #c7a674;
    }

i.left, .i-left {
    margin-right: 6px;
}

i.right, .i-right {
    margin-left: 6px;
}

hr {
    border-top: 1px solid #f1f1f1 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

.video {
    max-width: 100%;
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

/* Typography Style   ||-----------------------------------*/

/*heading*/
h1, h2, h3, h4, h5, h6 {
    color: #333;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    line-height: 1.3;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

    h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, h6 .white {
        color: #fff;
    }

    h1.color, h2.color, h3.color, h4.color, h5.color, h6.color, h6 .color {
        color: #c7a674;
    }


.page-title {
    margin-bottom: 60px;
    font-weight: 800;
}

.page-title2 {
    margin-bottom: 90px;
    font-weight: 800;
}

.page-title-alt {
    margin-bottom: 30px;
    color: #c7a674;
}

.content-title {
    margin-bottom: 25px;
}

.features-title {
    margin-bottom: 15px;
}



.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-bold {
    font-weight: 600;
}

.text-extra-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.max-width-700 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/*Paragraph*/
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
}

    p.small {
        font-size: 12px;
    }

    p.large {
        font-size: 16px;
    }

    p.lead {
        font-size: 22px;
        margin-bottom: 25px;
    }

        p.white, p.small.white, p.large.white, p.lead.white, p .white, .white {
            color: #fff;
        }

        p.dark, p.small.dark, p.large.dark, p.lead.dark, p .dark, .dark {
            color: #666666;
        }

        p.color p.small.color, p.large.color, p.lead.color, p .color, .color {
            color: #c7a674;
        }

/* listing */
ul.list-inside {
    padding-left: 0px;
    list-style: inside;
    margin-bottom: 25px;
    font-size: 16px;
}

ul.list-none {
    list-style: none;
    padding-left: 0px;
}


/*Links & Anchor Tag*/
.dark-bg a {
}

    .dark-bg a:hover {
    }

a {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.link, .link-d {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
    color: inherit;
    padding-bottom: 2px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.Link {
    color: #333;
}

    .Link:hover {
        color: #c7a674;
    }

.link-d {
    color: #fff;
}

    .link-d:hover {
        color: #c7a674;
    }


/* Button Style   ||--------------------------------*/
.btn, button {
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    outline: none;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    -o-border-radius: 2px !important;
}

    .btn i, button i, i.left {
        margin-right: 6px;
    }

i.right {
    margin-left: 6px;
    margin-right: 0px !important;
}

.btn-sm {
    padding: 9px 30px !important;
    display: inline-block;
}

.btn-md {
    padding: 11px 25px !important;
    display: inline-block;
}

.btn-lg {
    padding: 14px 30px !important;
    display: inline-block;
}

.btn-black {
    background-color: #333;
    border-color: transparent;
    color: #fff;
}

    .btn-black:hover {
        background-color: rgba(92, 189, 44, 1);
        border-color: transparent;
        color: #fff;
    }

.btn-color {
    background-color: rgba(92, 189, 44, 1);
    border-color: transparent;
    color: #fff;
}

    .btn-color:hover {
        background-color: rgba(92, 170, 44, 1);
        border-color: transparent;
        color: #fff;
    }

.btn-white {
    background-color: rgba(255,255,255,1);
    border-color: transparent;
    color: #333;
}

    .btn-white:hover {
        background-color: rgba(255,255,255,0.85);
        border-color: transparent;
        color: #333;
    }

/* Form Style   ||--------------------------------*/
form {
    position: relative;
}

button {
    outline: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    display: inline-block;
}

button, input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

    input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="radio"], input[type="checkbox"], textarea, select {
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important;
        color: #333;
        outline: none;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
        -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
        -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
        -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
        display: inline-block;
        /*text-transform: uppercase;*/
        line-height: 1.2;
    }

        input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="number"]:hover, input[type="radio"]:hover, input[type="checkbox"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, input[type="password"]:focus, textarea:focus {
            border: 1px solid rgba(0, 0, 0, 0.7);
            color: #333;
        }

    input.input-lg, .input-lg {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    input.input-md, .input-md {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    input.input-sm, .input-sm {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    input.input-xs, .input-xs {
        padding-top: 8px;
        padding-bottom: 8px;
    }



textarea {
    height: 120px;
    font-size: 13px !important;
}

label {
    color: #333;
    font-size: 12px;
    margin-bottom: 10px;
    padding-right: 3px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 6px;
    font-family: 'Raleway', sans-serif;
}

.form-full {
    width: 100%;
}

.form-full-height {
    height: 100%;
}

.form-field-wrapper {
    margin-bottom: 20px;
    position: relative;
}

form .error {
    border-color: #e1534f;
}

form label.error {
    margin-bottom: 0px;
    margin-top: 3px;
    color: #e1534f;
    font-size: 12px;
    font-weight: 400;
}

.successContent, .errorContent {
    margin-bottom: 20px;
    display: none;
    text-transform: none;
    letter-spacing: 1px;
}

/* Spacer Style   ||------------------------*/
/*spacing*/
.spacer-15 {
    height: 15px;
    width: 100%;
}

.spacer-30 {
    height: 30px;
    width: 100%;
}

.spacer-45 {
    height: 45px;
    width: 100%;
}

.spacer-60 {
    height: 60px;
    width: 100%;
}

.spacer-75 {
    height: 75px;
    width: 100%;
}

.spacer-90 {
    height: 90px;
    width: 100%;
}


/*padding*/
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-t {
    padding-top: 100px;
}

.section-padding-b {
    padding-bottom: 100px;
}
/*--*/
.p-90 {
    padding: 90px;
}

.ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.plt-90 {
    padding-left: 90px;
    padding-right: 90px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-90 {
    padding-bottom: 90px;
}
/*--*/
.p-85 {
    padding: 85px;
}

.ptb-85 {
    padding-top: 85px;
    padding-bottom: 85px;
}

.plt-85 {
    padding-left: 85px;
    padding-right: 85px;
}

.pt-85 {
    padding-top: 85px;
}

.pb-85 {
    padding-bottom: 85px;
}
/*--*/
.p-80 {
    padding: 80px;
}

.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.plt-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}
/*--*/
.p-75 {
    padding: 75px;
}

.ptb-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.plt-75 {
    padding-left: 75px;
    padding-right: 75px;
}

.pt-75 {
    padding-top: 75px;
}

.pb-75 {
    padding-bottom: 75px;
}
/*--*/
.p-70 {
    padding: 70px;
}

.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.plt-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-70 {
    padding-bottom: 70px;
}
/*--*/
.p-65 {
    padding: 65px;
}

.ptb-65 {
    padding-top: 65px;
    padding-bottom: 65px;
}

.plt-65 {
    padding-left: 65px;
    padding-right: 65px;
}

.pt-65 {
    padding-top: 65px;
}

.pb-65 {
    padding-bottom: 65px;
}
/*--*/
.p-60 {
    padding: 60px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.plt-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}
/*--*/
.p-55 {
    padding: 55px;
}

.ptb-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.plt-55 {
    padding-left: 55px;
    padding-right: 55px;
}

.pt-55 {
    padding-top: 55px;
}

.pb-55 {
    padding-bottom: 55px;
}
/*--*/
.p-50 {
    padding: 50px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.plt-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}
/*--*/
.p-45 {
    padding: 45px;
}

.ptb-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.plt-45 {
    padding-left: 45px;
    padding-right: 45px;
}

.pt-45 {
    padding-top: 45px;
}

.pb-45 {
    padding-bottom: 45px;
}
/*--*/
.p-40 {
    padding: 40px;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.plt-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}
/*--*/
.p-35 {
    padding: 35px;
}

.ptb-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.plt-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.pt-35 {
    padding-top: 35px;
}

.pb-35 {
    padding-bottom: 35px;
}
/*--*/
.p-30 {
    padding: 30px;
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.plt-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}
/*--*/
.p-25 {
    padding: 25px;
}

.ptb-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.plt-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.pt-25 {
    padding-top: 25px;
}

.pb-25 {
    padding-bottom: 25px;
}
/*--*/
.p-20 {
    padding: 20px;
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.plt-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}
/*--*/
.p-15 {
    padding: 15px;
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.plr-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.plt-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}
/*--*/
.p-10 {
    padding: 10px;
}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.plt-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}
/*--*/
.p-5 {
    padding: 5px;
}

.ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.plt-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}



/*margrin*/
.container-margin {
    margin-top: 90px;
    margin-bottom: 90px;
}

.container-margin-t {
    margin-top: 90px;
}

.container-margin-b {
    margin-bottom: 90px;
}

/*--*/
.m-90 {
    margin: 90px;
}

.mtb-90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.mlt-90 {
    margin-left: 90px;
    margin-right: 90px;
}

.mt-90 {
    margin-top: 90px;
}

.mb-90 {
    margin-bottom: 90px;
}
/*--*/
.m-85 {
    margin: 85px;
}

.mtb-85 {
    margin-top: 85px;
    margin-bottom: 85px;
}

.mlt-85 {
    margin-left: 85px;
    margin-right: 85px;
}

.mt-85 {
    margin-top: 85px;
}

.mb-85 {
    margin-bottom: 85px;
}
/*--*/
.m-80 {
    margin: 80px;
}

.mtb-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mlt-80 {
    margin-left: 80px;
    margin-right: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}
/*--*/
.m-75 {
    margin: 75px;
}

.mtb-75 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.mlt-75 {
    margin-left: 75px;
    margin-right: 75px;
}

.mt-75 {
    margin-top: 75px;
}

.mb-75 {
    margin-bottom: 75px;
}
/*--*/
.m-70 {
    margin: 70px;
}

.mtb-70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.mlt-70 {
    margin-left: 70px;
    margin-right: 70px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-70 {
    margin-bottom: 70px;
}
/*--*/
.m-65 {
    margin: 65px;
}

.mtb-65 {
    margin-top: 65px;
    margin-bottom: 65px;
}

.mlt-65 {
    margin-left: 65px;
    margin-right: 65px;
}

.mt-65 {
    margin-top: 65px;
}

.mb-65 {
    margin-bottom: 65px;
}
/*--*/
.m-60 {
    margin: 60px;
}

.mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mlt-60 {
    margin-left: 60px;
    margin-right: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}
/*--*/
.m-55 {
    margin: 55px;
}

.mtb-55 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.mlt-55 {
    margin-left: 55px;
    margin-right: 55px;
}

.mt-55 {
    margin-top: 55px;
}

.mb-55 {
    margin-bottom: 55px;
}
/*--*/
.m-50 {
    margin: 50px;
}

.mtb-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mlt-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}
/*--*/
.m-45 {
    margin: 45px;
}

.mtb-45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.mlt-45 {
    margin-left: 45px;
    margin-right: 45px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-45 {
    margin-bottom: 45px;
}
/*--*/
.m-40 {
    margin: 40px;
}

.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mlt-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}
/*--*/
.m-35 {
    margin: 35px;
}

.mtb-35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.mlt-35 {
    margin-left: 35px;
    margin-right: 35px;
}

.mt-35 {
    margin-top: 35px;
}

.mb-35 {
    margin-bottom: 35px;
}
/*--*/
.m-30 {
    margin: 30px;
}

.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mlt-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}
/*--*/
.m-25 {
    margin: 25px;
}

.mtb-25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mlt-25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-25 {
    margin-bottom: 25px;
}
/*--*/
.m-20 {
    margin: 20px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mlt-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}
/*--*/
.m-15 {
    margin: 15px;
}

.mtb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mlt-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}
/*--*/
.m-10 {
    margin: 10px;
}

.mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mlt-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}
/*--*/
.m-5 {
    margin: 5px;
}

.mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mlt-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}
/*--*/
.m-0 {
    margin: 0px;
}

.mtb-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mlt-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}


@media (max-width: 767px) {
    /*extra small medium*/

    /*padding*/
    .section-padding {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-padding-t {
        padding-top: 60px;
    }

    .section-padding-b {
        padding-bottom: 60px;
    }

    /*margrin*/
    .container-margin {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .container-margin-t {
        margin-top: 60px;
    }

    .container-margin-b {
        margin-bottom: 60px;
    }

    .float-xs-left {
        float: left !important;
        text-align: left;
    }

    .float-xs-right {
        float: right !important;
        text-align: right;
    }

    .p-xs-0 {
        padding: 0px;
    }

    .ptb-xs-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .plt-xs-0 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .pt-xs-0 {
        padding-top: 0px;
    }

    .pb-xs-0 {
        padding-bottom: 0px;
    }


    .mtb-xs-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mlt-xs-30 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .mt-xs-30 {
        margin-top: 30px;
    }

    .mb-xs-30 {
        margin-bottom: 30px;
    }

    /* 0 */
    .mtb-xs-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .mlt-xs-0 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mt-xs-0 {
        margin-top: 0px;
    }

    .mb-xs-0 {
        margin-bottom: 0px;
    }
}

@media (max-width: 991px) {
    .p-sm-0 {
        padding: 0px;
    }

    .ptb-sm-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .plt-sm-0 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .pt-sm-0 {
        padding-top: 0px;
    }

    .pb-sm-0 {
        padding-bottom: 0px;
    }


    .mtb-sm-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .mlt-sm-30 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .mt-sm-30 {
        margin-top: 30px;
    }

    .mb-sm-30 {
        margin-bottom: 30px;
    }

    /* 0 */
    .mtb-sm-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .mlt-sm-0 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .mt-sm-0 {
        margin-top: 0px;
    }

    .mb-sm-0 {
        margin-bottom: 0px;
    }
}


/*-------------------------------------------------------------------------------------------*/
/* HEADER     ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* Header Style   ||-------------------*/
.header {
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    color: #fff;
    width: 100%;
    height: 99px;
    transition: background-color 200ms ease-in-out 0s;
    -o-transition: background-color 200ms ease-in-out 0s;
    -moz-transition: background-color 200ms ease-in-out 0s;
    -webkit-transition: background-color 200ms ease-in-out 0s;
}

    .header.header-prepare {
        background-color: rgba(92, 189, 44, 1);
    }

    .header.header-fixed {
        display: block;
        margin-top: 0;
        position: fixed;
        height: 81px;
        -webkit-box-shadow: 0px 10px 13px -4px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 10px 13px -4px rgba(0,0,0,0.46);
box-shadow: 0px 10px 13px -4px rgba(0,0,0,0.46);
    }

.header-inner {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.header-fixed .logo a {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 160px;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.header-fixed .nav-menu ul.nav-menu-inner li a{
    padding: 34px 12px;

}


@media all and (max-width: 1024px) {
    .header {
        height: 65px;
    }

        .header .logo a {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 160px;
            transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
        }
}

/* Logo Style   ||-------------------*/
.logo {
    float: left;
    text-align: left;
    display: inline-block;
}

    .logo a {
        width: 180px;
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }

        .logo a img {
            width: 100%;
            transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
        }



/* Navigation Menu Style  ||-------------------*/
.nav-menu {
    position: static;
    float: right;
    display: block;
}

    .nav-menu.active {
        display: block;
    }

    .nav-menu ul.nav-menu-inner {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .nav-menu ul.nav-menu-inner > li {
            display: inline-block;
            list-style: none;
            text-align: center;
        }

            .nav-menu ul.nav-menu-inner > li > a {
                display: block;
                color: #fff;
                font-size: 13px;
                line-height: 1;
                padding: 43px 12px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: "Raleway",sans-serif;
            }

.nav-menu-icon {
    display: none;
    float: right;
}

    .nav-menu-icon a {
        color: #fff;
        display: block;
        font-size: 17px;
        padding: 25px 0;
    }

    .nav-menu-icon.active a, .nav-menu-icon > a.active,
    .nav-menu-icon:hover a, .nav-menu-icon > a:hover,
    .nav-menu ul.nav-menu-inner li.active > a,
    .nav-menu ul.nav-menu-inner li > a.active,
    .nav-menu ul.nav-menu-inner li:hover > a,
    .nav-menu ul.nav-menu-inner li > a:hover,
    .header-fixed .nav-menu ul.nav-menu-inner li > a.current,
    .header-fixed .nav-menu ul.nav-menu-inner li.current > a {
        color: rgba(255, 255, 255, 1);
    }
/* Dropdown-menu */
.nav-menu > ul li {
    position: relative;
}

.sub-dropdown.dropdown {
    top: 100%;
    left: 0;
}

.sub-dropdown {
    position: absolute !important;
    left: 100%;
    top: 0;
    display: none;
    background: rgba(255,255,255,1);
    padding: 0;
    width: 200px;
    -webkit-box-shadow: 7px 7px 13px -4px rgba(0,0,0,0.25);
-moz-box-shadow: 7px 7px 13px -4px rgba(0,0,0,0.25);
box-shadow: 7px 7px 13px -4px rgba(0,0,0,0.25);
}

    .sub-dropdown li {
        width: 100%;
        list-style: none;
    }

    .sub-dropdown > li > a {
        padding: 9px 15px !important;
        display: block;
        color: rgba(0, 0, 0, 0.75);
        text-align: left;
    }

    .sub-dropdown > li:hover > a {
        background: rgba(92, 189, 44, .79);
        color: rgba(92, 189, 44, .79);
    }

    .sub-dropdown i {
        float: right;
    }


@media all and (max-width: 1024px) {
    .nav-menu ul.nav-menu-inner li {
        display: block;
        width: 100%;
    }

    .nav-menu {
        position: fixed;
        top: 81px;
        left: 0;
        float: none;
        display: block;
        width: 100%;
        background: #5cbd2c;
        overflow-y: auto;
        display: none;
        z-index: 999;
    }

    .nav-menu-icon, .header-fixed .nav-menu-icon {
        display: inline-block;
        float: right;
    }

    .nav-menu ul.nav-menu-inner li a, .header-fixed .nav-menu ul.nav-menu-inner li a {
        padding: 20px 12px;
        border-top: 1px solid rgba(0,0,0,0.15);
    }

    /* Dropdown */
    .sub-dropdown.dropdown, .sub-dropdown {
        top: 100%;
        position: relative !important;
        left: 0;
        width: 100%;
    }

        .sub-dropdown a, .sub-dropdown > li > a {
            padding-left: 0px !important;
            text-align: center;
        }
}


/*-------------------------------------------------------------------------------------------*/
/* INTRO     ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/


/* intro */
#intro {
    position: relative;
}

.intro-media {
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
}

.intro-caption-waper {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.intro-content {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.intro-content-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.intro-img-circle {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border: 5px solid rgba(0,0,0, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-bottom: 30px;
}

    .intro-img-circle img {
        outline: none;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

@media (max-width: 767px) {
    .intro-title {
        letter-spacing: 0;
        font-size: 24px;
    }
}

/* Slider */
.sc-logo {
    /*margin-top: 0px;
    margin-bottom:0;*/
    text-align: center;
}

.sc-title {
    font-weight: 800;
    text-align: center;
    /*margin-top: 0px;
    margin-bottom:0;*/
}

.sc-paragraph-lead {
    font-family: Georgia;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    /*margin-top: 0px;
    margin-bottom:0;*/
}

.sc-button {
}

/*-------------------------------------------------------------------------------------------*/
/* GLOBEL    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* Content Box (Services Box, Featured Box, icon-box, etc...) ||-----------------------------*/
.content-box, .content-box-with-bg {
    position: relative;
}

    .content-box.left {
        padding-left: 90px;
        text-align: left;
        margin-bottom: 35px;
        position: relative;
    }

    .content-box.right {
        padding-right: 90px;
        text-align: right;
        margin-bottom: 35px;
        position: relative;
    }

.content-box-with-bg {
    padding: 45px 30px 30px !important;
    background: #f5f5f5;
    border-radius: 5px;
}


/*Icon Style 1*/

.content-box:hover .icon-top, .content-box:hover .icon-left, .content-box:hover .icon-right {
    background-color: rgba(92, 189, 44, 1);
    color: #fff;
}

.icon-top, .icon-left, .icon-right {
    background-color: #f5f5f5;
    display: inline-block !important;
    font-size: 23px;
    color: #333;
    height: 70px;
    line-height: 75px;
    width: 70px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.icon-top {
    margin-bottom: 30px;
}

.icon-left, .alt-icon-left {
    position: absolute;
    left: 0;
}

.icon-right, .alt-icon-right {
    position: absolute;
    right: 0;
}

.icon-color {
    background-color: #c7a674;
    color: #fff;
}

.icon-black {
    background-color: #333;
    color: #fff;
}

.content-box:hover .icon-color {
    background-color: #333;
    color: #fff;
}

.content-box:hover .icon-black {
    background-color: #c7a674;
    color: #fff;
}

/* Icon Style 2 */
.content-box.alt-left {
    padding-left: 60px;
    text-align: left;
    margin-bottom: 35px;
    position: relative;
}

.content-box.alt-right {
    padding-right: 60px;
    text-align: right;
    margin-bottom: 35px;
    position: relative;
}

.alt-icon-top, .alt-icon-left, .alt-icon-right {
    color: #333;
    display: inline-block !important;
    font-size: 35px;
    line-height: 1;
    transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.alt-icon-top {
    margin-bottom: 25px;
    text-align: center;
}

.alt-icon-sm-top, .alt-icon-sm-left, .alt-icon-sm-right {
    color: #333;
    display: inline-block !important;
    font-size: 25px;
    line-height: 1;
    transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.alt-icon-sm-top {
    margin-bottom: 20px;
    text-align: center;
}
/*.content-box.left .features-title, .content-box.right .features-title {
    margin-bottom: 10px;
}*/


/*-----------------------------------------*/
/* Cover Box     ||----------------------*/
/*-----------------------------------------*/
.cover-box {
    position: relative;
    text-align: center;
}

    .cover-box .cover-box-img {
        width: 100%;
        position: relative;
        margin-bottom: 0;
    }

        .cover-box .cover-box-img img {
            width: 100%;
        }

    .cover-box .cover-box-content {
        padding: 30px;
        background: #f5f5f5;
    }


/*-----------------------------------------*/
/* Slider ||-----------------------------*/
/*-----------------------------------------*/

/* Carousel-Theme (Slider Elements - Bullets, Pagination, etc..) */

.owl-buttons {
    position: static;
}

o-flow-hidden {
    overflow: hidden;
}

.owl-carousel.white .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #fff;
}

.owl-carousel.white .owl-controls .owl-page.active span {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}

.nf-carousel-theme {
}

    .nf-carousel-theme .owl-controls .owl-pagination {
        position: absolute;
        z-index: 2;
        left: 0;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .nf-carousel-theme .owl-controls .owl-buttons .owl-prev,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        width: 31px;
        height: 31px;
        line-height: 31px;
        font-size: 16px;
        margin-top: -15px;
    }

    .content-carousel .owl-controls .owl-buttons .owl-prev,
    .content-carousel .owl-controls .owl-buttons .owl-next,
    .image-carousel .owl-controls .owl-buttons .owl-prev,
    .image-carousel .owl-controls .owl-buttons .owl-next,
    .intro-text-slider .owl-controls .owl-buttons .owl-prev,
    .intro-text-slider .owl-controls .owl-buttons .owl-next,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-prev,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        color: #fff;
        /*text-align: center;*/
        position: absolute;
        z-index: 3;
        display: block;
        top: 50%;
        transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        width: 100px;
        height: 100px;
    }

        .content-carousel .owl-controls .owl-buttons .owl-prev:before,
        .content-carousel .owl-controls .owl-buttons .owl-next:before,
        .image-carousel .owl-controls .owl-buttons .owl-prev:before,
        .image-carousel .owl-controls .owl-buttons .owl-next:before,
        .intro-text-slider .owl-controls .owl-buttons .owl-prev:before,
        .intro-text-slider .owl-controls .owl-buttons .owl-next:before,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-prev:before,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-next:before {
            background: rgba(51,51,51,0.8);
            content: "";
            transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            height: 120%;
            width: 120%;
            position: absolute;
            top: 0;
        }

        .content-carousel .owl-controls .owl-buttons .owl-prev:before,
        .image-carousel .owl-controls .owl-buttons .owl-prev:before,
        .intro-text-slider .owl-controls .owl-buttons .owl-prev:before,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-prev:before {
            left: 0;
            margin-left: -60%;
        }

        .content-carousel .owl-controls .owl-buttons .owl-next:before,
        .image-carousel .owl-controls .owl-buttons .owl-next:before,
        .intro-text-slider .owl-controls .owl-buttons .owl-next:before,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-next:before {
            right: 0;
            margin-right: -60%;
        }

        .content-carousel .owl-controls .owl-buttons .owl-prev:hover,
        .content-carousel .owl-controls .owl-buttons .owl-next:hover,
        .image-slider .owl-controls .owl-buttons .owl-prev:hover,
        .image-slider .owl-controls .owl-buttons .owl-next:hover,
        .intro-text-slider .owl-controls .owl-buttons .owl-prev:hover,
        .intro-text-slider .owl-controls .owl-buttons .owl-next:hover,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-prev:hover,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-next:hover {
            /*background: #fff;*/
            color: #c7a674;
        }

    .content-carousel .owl-controls .owl-buttons .owl-next,
    .image-carousel .owl-controls .owl-buttons .owl-next,
    .intro-text-slider .owl-controls .owl-buttons .owl-next,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }

    .nf-carousel-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
        margin-left: -51px;
        opacity: 0;
    }

    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
        margin-right: -51px;
        opacity: 0;
    }

    .content-carousel:hover .owl-controls .owl-buttons .owl-prev,
    .content-carousel:hover .owl-controls .owl-buttons .owl-next,
    .image-carousel:hover .owl-controls .owl-buttons .owl-prev,
    .image-carousel:hover .owl-controls .owl-buttons .owl-next,
    .intro-text-slider:hover .owl-controls .owl-buttons .owl-prev,
    .intro-text-slider:hover .owl-controls .owl-buttons .owl-next,
    .nf-carousel-theme:hover .owl-controls .owl-buttons .owl-prev,
    .nf-carousel-theme:hover .owl-controls .owl-buttons .owl-next {
        margin-right: 0;
        margin-left: 0;
        opacity: 1;
    }


/* Singel Item slider (Images & Contant Slider) */
.content-carousel, .image-carousel, .intro-text-slider {
    overflow: hidden;
    position: relative;
}

    .content-carousel .owl-controls .owl-pagination,
    .image-carousel .owl-controls .owl-pagination,
    .intro-text-slider .owl-controls .owl-pagination,
    .item1-carousel .owl-controls .owl-pagination {
        position: absolute;
        bottom: 0;
        z-index: 2;
        bottom: 15px;
        left: 0;
        text-align: center;
        width: 100%;
    }

    .content-carousel .owl-controls .owl-buttons .owl-prev,
    .content-carousel .owl-controls .owl-buttons .owl-next,
    .image-carousel .owl-controls .owl-buttons .owl-prev,
    .image-carousel .owl-controls .owl-buttons .owl-next,
    .intro-text-slider .owl-controls .owl-buttons .owl-prev,
    .intro-text-slider .owl-controls .owl-buttons .owl-next {
        width: 51px;
        height: 51px;
        line-height: 57px;
        font-size: 21px;
        margin-top: -25px;
    }

    .content-carousel .owl-controls .owl-buttons .owl-prev,
    .image-carousel .owl-controls .owl-buttons .owl-prev,
    .intro-text-slider .owl-controls .owl-buttons .owl-prev {
        left: 0;
        margin-left: -51px;
        opacity: 0;
        text-align: left;
        padding-left: 10px;
    }

    .content-carousel .owl-controls .owl-buttons .owl-next,
    .image-carousel .owl-controls .owl-buttons .owl-next,
    .intro-text-slider .owl-controls .owl-buttons .owl-next {
        right: 0;
        margin-right: -51px;
        opacity: 0;
        text-align: right;
        padding-right: 10px;
    }

    .content-carousel img, .image-carousel .item img {
        width: 100%;
    }

/* Portfolio (Isotop Grid, box, etc...) --------------------------*/

.portfolio-grid-fit .portfolio-item {
    position: relative;
    float: left;
    width: 25%;
    height: auto;
    margin: 0px;
    padding: 0px;
    background: #888;
    color: #262524;
    display: block;
}

@media (max-width: 1170px) {
    .portfolio-grid-fit .portfolio-item {
        width: 33.33333333333333%;
    }
}

@media (max-width: 980px) {
    .portfolio-grid-fit .portfolio-item {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .portfolio-grid-fit .portfolio-item {
        width: 100%;
    }
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

    .portfolio-box .portfolio-image-wrap {
        display: block;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }

        .portfolio-box .portfolio-image-wrap img {
            width: 100%;
        }

    .portfolio-box .portfolio-caption {
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        left: 10px;
        top: 10px;
        padding: 20px;
        position: absolute;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        z-index: 9;
        transform: scale(0.5);
        -o-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transition-delay: 0s;
        -o-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -webkit-transition-delay: 0s;
    }

    .portfolio-box:hover .portfolio-caption {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transition-delay: 0.08s;
        -o-transition-delay: 0.08s;
        -moz-transition-delay: 0.08s;
        -webkit-transition-delay: 0.08s;
    }

    .portfolio-box .portfolio-caption .portfolio-caption-tb {
        height: 100%;
        width: 100%;
        display: table;
    }

    .portfolio-box .portfolio-caption .portfolio-caption-tb-cell {
        display: table-cell;
        vertical-align: middle;
        padding: 30px;
        color: #333;
        text-align: center;
    }

    .portfolio-box .portfolio-caption p {
        margin-bottom: 20px;
    }

ul.portfolio-btn-wraper, .portfolio-btn-wraper {
    list-style: none;
    padding: 0px;
    margin-top: 5px;
}

    ul.portfolio-btn-wraper li {
        display: inline-block;
        margin: 0px 0px;
    }

    ul.portfolio-btn-wraper .btn {
        display: inline-block;
        height: 32px !important;
        width: 32px !important;
        line-height: 28px !important;
        font-size: 14px;
        padding: 0px !important;
        text-align: center;
    }

        ul.portfolio-btn-wraper .btn i, .portfolio-btn-wraper .btn i {
            margin-left: 0px;
            margin-right: 0px;
        }
/* Portfolio Filter */
.portfolio-filter {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

    .portfolio-filter li {
        display: inline-block;
        list-style: none;
    }

        .portfolio-filter li a {
            display: block;
            color: #333;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-left: 11px;
            margin-right: 11px;
            text-transform: uppercase;
        }

            .portfolio-filter li a.active {
                color: #c7a674;
            }

/*-------------------------------------------------------------------------------------------*/
/* ELEMENTS     ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* Team Box   ||-------------------*/
.team-item {
    padding-left: 15px;
    padding-right: 15px;
}

.team-item-img {
    position: relative;
}

    .team-item-img > img {
        width: 100%;
    }

    .team-item-img .team-item-detail {
        background: #fff;
        text-align: center;
        color: #fff;
        display: -webkit-flex;
        display: flex;
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        position: absolute;
        top: 10px;
        left: 10px;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
    }

.team-item:hover .team-item-detail {
    opacity: 1;
    visibility: visible;
}

.team-item-img .team-item-detail .team-item-detail-inner, .cent-mid-content {
    margin: auto;
    padding: 25px;
}

    .team-item-img .team-item-detail .team-item-detail-inner .social {
        margin: 5px 0px 0px 0px;
        padding: 0px;
    }

        .team-item-img .team-item-detail .team-item-detail-inner .social li {
            list-style: none;
            display: inline-block;
            margin: 0px 5px;
        }

            .team-item-img .team-item-detail .team-item-detail-inner .social li a {
                color: #333;
                font-size: 16px;
            }

                .team-item-img .team-item-detail .team-item-detail-inner .social li a:hover {
                    color: #c7a674;
                }

.team-item-info {
    padding-top: 15px;
    text-align: center;
}

    .team-item-info h5, .team-item-info h6 {
        margin-bottom: 5px;
    }

    .team-item-info p {
        margin-bottom: 0px;
    }


/*  Skills Bar      ||---------------------------- */

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.skillbar-bar {
    background: #fff;
    border: 1px solid #f1f1f1;
    width: 100%;
    padding: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.skillbar-bar-child {
    height: 8px;
    width: 0px;
    background: #333;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.skillbar-title {
    display: inline-block;
    text-align: left;
    margin-bottom: 7px;
}

.skillbar-title, .skill-bar-percent {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}


.skill-bar-percent {
    float: right;
    display: inline-block;
    font-weight: 400;
    margin-top: 3px;
}


/*  Process                ||---------------------------- */
.process-box {
    position: relative;
}

    .process-box:before, .process-box:after {
        position: absolute;
        top: 50px;
        content: "";
        border-top: 1px dashed #f1f1f1;
        width: 50%;
        z-index: -1;
    }

    .process-box:before {
        right: 0;
    }

    .process-box:after {
        left: 0;
    }

    .process-box .process-icon {
        background: #fff;
        height: 100px;
        width: 100px;
        line-height: 100px;
        border: 1px solid #f1f1f1;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    }

    .process-box:hover .process-icon {
        background: #f6f6f6;
    }
/*  Accordion & Toggle     ||---------------------------- */

.accordion, .toggle {
    margin-bottom: 20px;
    margin-top: 0;
}

    .accordion .accordion-title, .toggle .toggle-title {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.5px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: "Raleway",sans-serif;
        font-weight: 600;
    }

    .accordion > .accordion-title > a:after, .toggle > .toggle-title > a:after {
        color: #333;
        content: "";
        font-family: "FontAwesome";
        font-size: 15px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 15px;
        line-height: 15px;
        margin-top: -8px;
        position: absolute;
        right: 10px;
        text-align: center;
        text-transform: none;
        top: 50%;
        width: 15px;
        transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    }

    .accordion > .accordion-title > a, .toggle > .toggle-title > a {
        border: 1px solid #f1f1f1;
        background: #fff;
        color: #333;
        display: block;
        padding: 14px 20px;
        position: relative;
        text-decoration: none;
        transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        outline: none;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }

        .accordion > .accordion-title > a.active, .toggle > .toggle-title > a.active {
            background-color: #f5f5f5;
            border-color: #f5f5f5;
            color: #333;
            cursor: default;
        }

            .accordion > .accordion-title > a.active:after, .toggle > .toggle-title > a.active:after {
                /*color: #fff;*/
                content: "";
            }

    .accordion > .accordion-content, .toggle > .toggle-content {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 10px;
        padding: 10px 20px 10px;
    }
/*  Tabs     ||---------------------------- */

.tabs-nav {
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

    .tabs-nav li {
        display: inline-block;
    }

.tabs-cont {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

    .tabs-cont .media {
        display: block;
    }

    .tabs-cont .tab-pane {
        display: none;
        visibility: hidden;
        transition: display 0.15s linear 0s;
        -moz-transition: display 0.15s linear 0s;
        -webkit-transition: display 0.15s linear 0s;
        -o-transition: display 0.15s linear 0s;
    }

        .tabs-cont .tab-pane.active {
            display: block;
            visibility: visible;
        }

.alt-icon-tab {
}

    .alt-icon-tab li {
        padding-left: 30px;
        padding-right: 30px;
        min-width: 140px;
        opacity: 1;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }

        .alt-icon-tab li a {
            opacity: 0.4;
        }

            .alt-icon-tab li a.active, .alt-icon-tab li a:hover {
                opacity: 1;
            }


/*  Action-box             ||---------------------------- */

.action-box {
    padding: 45px 0;
    text-align: center;
    margin-top: -1px;
}

    .action-box.action-black {
        background-color: #333;
    }

    .action-box.action-gray {
        background-color: #f5f5f5;
    }

    .action-box .action-box-left {
        display: inline-block;
        margin-right: 15px;
    }

    .action-box .action-box-right {
        display: inline-block;
        vertical-align: top;
    }

        .action-box .action-box-right .btn {
            vertical-align: top;
        }

    .action-box .action-box-title {
        padding-bottom: 0px;
        padding-top: 6px;
        margin-bottom: 0px;
    }

    .action-box .action-box-content {
        margin-bottom: 0px;
    }

    .action-box.action-black .action-box-title, .action-box.action-black .action-box-content {
        color: #fff;
    }

    .action-box.action-gray .action-box-title, .action-box.action-gray .action-box-content {
        color: #333;
    }


/*  Counter             ||---------------------------- */
.counter-title {
    /*color:#fff;*/
    font-family: inherit;
    line-height: 1;
    font-size: 60px;
    font-weight: 600;
}

.counter-icon {
    margin-bottom: 15px;
}

.counter-sub-title {
    margin-bottom: 0;
}


/*  Pricing-box        ||---------------------------- */

.pricing-box {
    background: #f5f5f5;
    border-top: 7px solid #333;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .pricing-box.highlight {
        border-top-color: #c7a674;
    }

.pricing-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pricing-padding-t {
    padding-top: 30px;
}

.pricing-padding-b {
    padding-bottom: 30px;
}



.pricing-title, .pricing-price, .pricing-features, .pricing-button {
    padding-left: 15px;
    padding-right: 15px;
}

    .pricing-title h1, .pricing-title h2, .pricing-title h3, .pricing-title h4, .pricing-title h5, .pricing-title h6 {
        margin-bottom: 0px;
    }

    .pricing-price p {
        color: #333;
        line-height: 1;
    }

    .pricing-price .dollar {
        vertical-align: 28px;
        margin-right: 5px;
    }

    .pricing-price .dollar, .pricing-price .pricing-price-sm {
        font-size: 14px;
        font-weight: 600;
    }

    .pricing-price .pricing-price-sm {
        margin-left: 5px;
    }

    .pricing-price .pricing-price-lg {
        font-size: 60px;
        font-weight: 600;
    }

    .pricing-features ul {
        list-style: none;
        padding: 0;
    }

        .pricing-features ul li {
            margin-bottom: 10px;
        }



/*  Client Logo        ||---------------------------- */
.client-logo {
    height: 90px;
    text-align: center;
}

    .client-logo img {
        height: 100%;
    }



/* Contact Form, Map, contact-info       ||--------------------------- */

/* form */
.contact-form textarea {
    min-height: 165px;
    resize: none;
    overflow: auto;
}

.contact-form .btn-contact-submit {
    height: 100px;
    width: 100px;
    line-height: 1;
    border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
}

/* map */
.map {
    height: 400px;
    width: 100%;
}

/* contact-info */
.contact-link a {
    margin-bottom: 5px;
    display: inline-block;
    color: #666666;
}


/* Preloader      ||-------------------------------*/
#preloader {
    background-color: rgba(255, 255, 255, 1);
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999999999;
}

.site-spinner {
    border: 2px solid #ddd;
    font-size: 44px;
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: site-spin 1s linear infinite;
    -moz-animation: site-spin 1s linear infinite;
    animation: site-spin 1s linear infinite;
    border-top-color: #333;
}

@-webkit-keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes site-spin {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/*Footer         ||--------------------------*/

/*Footer Logo*/
.footer-logo a {
    max-width: 183px;
    display: inline-block;
}

.footer-logo img {
    width: 100%;
}

/* Social */
.footer .social {
    list-style: none;
    padding: 0;
}

    .footer .social li {
        list-style: none;
        display: inline-block;
        margin: 0 2px;
    }

        .footer .social li a {
            height: 36px;
            width: 36px;
            display: block;
            font-size: 16px;
            text-align: center;
            line-height: 32px;
            border: 2px solid #333;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .footer .social li:hover a {
            border-color: #c7a674;
            color: #c7a674;
        }
.header-fixed ul.nav-menu-inner li a:hover{
    color:black;

}

.header-fixed  ul.sub-dropdown .nav-external:hover{
    color:white;
}

/* --- */
.video-link {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color: #f03;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.5);
}

/* --- */
.player {
    position: fixed;
        right: 0px;
    left: 11%;
    top: 82px;
    bottom: 0px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background: rgba(0,0,0,1);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%, rgba(0,0,0,1) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(center, ellipse cover, rgba(0,0,0,.65) 0%,rgba(0,0,0,1) 100%);

    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.player__video {
    position: relative;
    top: 50%;
    left: 50%; 
    width: auto;
    max-width: 75%;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0,0,0,.95);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.js--show-video { opacity: 1; 
        right: 0px;
    left: 11%;
    top: 82px;
    bottom: 0px;
}

.video-filler {
    display: block;
    width: 100%;
}

.video-close {
    position: absolute;
    z-index: 0;
    top: 0;
    right: -30px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.75);
}

.video-iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
}